body {
  background: #F3F4F5;
  color: 	#172A3F;
}

.wrapper {
  text-align: center;
}

.fields {
  display: flex;
  justify-content: center;
}

.wrapper_item {
  width: 500px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.img {
  width: 200px;
}